outputs
extracted_parameters
.env
extracted_data.py
data
start_client.ps1
secret_context.pkl
public_context.pkl
graphs
autoencoder
hel.ipynb
latent_representations
latent_representations(imp)
model_updates
model_updates(LEGIT CLIENTs)
aa.py
best_autoencoder.pth
best_autoencoder_2.pth
GAN.py
model_abnormal
model_updates_for_3_client_legit
model_updates_for_3_client_not_legit
autoencoder_new.pth
new_train.ipynb
log_files